.container {
  display: grid;
  gap: 10px;
  width: 80%;
  margin: auto;
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 10px;
}

.input_controller {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}
