.container {
  width: 70%;
  margin: auto;
  display: grid;
  gap: 20px;
}
.expense_form {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.add_expense_button {
  display: flex;
  justify-content: flex-end;
}

.input_controller {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}
