.container {
  width: max-content;
  margin: auto;
  display: grid;
  gap: 20px;
  background-color: #e7e7e7;
  padding: 20px;
  border-radius: 10px;
}
.expense_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.add_expense_button {
  display: flex;
  justify-content: flex-end;
}

.input_controller {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}

.btns {
  display: flex;
  gap: 20px;
  justify-content: center;
}
